
@font-face {
  font-family: 'Alibaba_PuHuiTi';
  src: url(./Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf);
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Alibaba_PuHuiTi';
}

.el-button, .el-input__inner{
  font-family: 'Alibaba_PuHuiTi' !important;
}

.search-input-container .el-input__wrapper{
  border-top-left-radius: 0px !important;
}

.choose-year .el-input{
  width: 100px !important;
}

.choose-year .el-input__wrapper{
  border-radius: 12px !important;
}

.sort-by .el-input__wrapper{
  border-radius: 12px !important;
}
.sort-by .el-input{
  width: 100px !important;
}

.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px #148819 inset !important;
}
.el-select .el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #148819 inset !important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #148819 !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after {
  background-color: #148819 !important;
}

.el-pagination.is-background .btn-next.is-active, .el-pagination.is-background .btn-prev.is-active, .el-pagination.is-background .el-pager li.is-active {
  background-color: #148819 !important;
}


.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #09820e !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #09820e !important;
  border-color: #09820e !important;
}

.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #148819 inset !important;
}

.el-slider__bar{
  background-color: #148819 !important;
}
.el-slider__button{
  border-color: #148819 !important;
  width: 11px !important;
  height: 11px !important;
  
} 
.el-slider__input{
  width: 90px !important;
}
.el-input-number--small .el-input-number__increase:hover{
  color: #148819 !important;
}